# ایگنور کردن پوشه‌های bin و obj
bin/
obj/

# ایگنور کردن فایل‌های موقت و کش
*.cache
*.tmp
*.temp

# ایگنور کردن فایل‌های کاربر (مثل تنظیمات Visual Studio)
*.user
*.suo
*.vs/
.vscode/
.vs
.vs/
.vs/**

# ایگنور کردن پوشه‌های مربوط به NuGet
packages/
*.nupkg

# ایگنور کردن فایل‌های لاگ
*.log

# ایگنور کردن پوشه‌های تولید‌شده توسط ابزارهای تست
TestResults/

# ایگنور کردن فایل‌های محیط توسعه
[Dd]ebug/
[Rr]elease/
x64/
x86/
